name: pull-request
on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  docker-build:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5

      - uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            dockerfile:
              - 'Dockerfile'
            dockerfile_dev:
              - 'Dockerfile.dev'

      - name: zbase
        if: steps.changes.outputs.dockerfile == 'true'
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          push: false
          load: true
          tags: ghcr.io/zetaoss/zbase:latest
          labels: ${{ steps.meta.outputs.labels }}

      - name: zbase-dev
        if: steps.changes.outputs.dockerfile_dev == 'true'
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile.dev
          push: false
          tags: ghcr.io/zetaoss/zbase-dev:latest
          labels: ${{ steps.meta.outputs.labels }}
